.loader:before, .loader:after{
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 10px solid transparent;
  border-top-color: #E69D39;
}

.loader:before{
  z-index: 100;
  animation: spin 1s infinite;
}

.loader:after{
  border: 10px solid #ddd;
}

@keyframes spin{
  0%{
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100%{
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.loader-container{
  display: none;
  align-items: center;
  justify-content: center;
  position : relative;
  z-index : 2;
  align-self : center;
  justify-self : center;
}

.loader-container--visible{
  display: flex;
}

.loader-container--visible + .beer-card__img{
  display: none;
}

.loader{
  width: 60px;
  height: 60px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
}

.beer-card__active > .beer-card__icon > .loader-container > .loader{
  width: 350px;
  height: 350px;
}

.beer-card{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #F4F4F4;
  border-radius: 45px;
  /* padding: 15px; */
  margin: 15px;
  min-height: 200px;
  color: black;
  box-shadow: 0 5px 8px rgba(0,0,0,0.25), 0 2px 8px rgba(0,0,0,0.24);
}

.flex-column{
  display: flex;
  flex-direction: column;
  transition: all 1.5s;
  max-width: 20vw;
  opacity: 0;
}

.main-container .flex-column:first-child{
  margin-top: 100px;
}
.main-container .flex-column:nth-child(2){
  margin-top: 150px;
}
.main-container .flex-column:nth-child(3){
  margin-top: 100px;
}
.main-container .flex-column:nth-child(4){
  margin-top: 150px;
}
.beer-card__info-container{
  position: relative;
  background: #262626;
  color: white;
  border-radius: 0 0 45px 45px;
  height: 100%;
  width: 100%;
}
.beer-card__info-texts-container{
  margin: 20px;
}

.beer-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transform: scale(1.05);
  cursor: pointer;
}

.beer-card__icon{
  display: flex;
  justify-content: center;
  padding: 20px;
}
.beer-card__icon > img{
  border-radius: 100%;
  max-width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.beer-card__name{
  font-weight: 700;
  margin-bottom: 20px;
}
.beer-card__info{
  font-weight:500;
  margin-bottom: 5px;
}
.beer-card__info > span{
  position: absolute;
  right:15%;
  width: 20px;
  text-align: center;
  font-weight:300;
  /* margin-left: 50%; */
}

.beer-card-container{
  transition: none;
}
.dark-background{
  position: fixed;
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  top: 0px;
  left: 0;
  padding-top: 200px;
  transition: none;
  cursor : pointer;
}

.beer-card__active{
  position: absolute;
  width: 50%;
  min-height: 500px;
  /* margin-bottom: 500px; */
  z-index: 4;
}

.beer-card__active::after {
  content: "";
  display: block;
  height: 500px;
  width: 100%;
  background: 0;
  position: absolute;
  bottom: -500px;
}

.beer-card__description-container{
  margin-top: 50px;
  display: none;
}

.beer-card__description-container--active{
  display: inline-block;
}

.beer-card__description-title{
  font-weight: 700;
  margin-bottom: 5px;
}

.beer-card__active:hover{
  transform: none;
  box-shadow: none;
}

.beer-card__active img{
  max-width: inherit;
  width: 350px;
}
.no-scroll{
  overflow: hidden;
}

_________________________________________________________ Animations

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/* ________________________________________________ */

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
    transform: translate3d(0, -20%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
    transform: translate3d(0, -20%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


/* ________________________________________________ */

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/* ________________________________________________ */

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/* ________________________________________________ */

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* ________________________________________________ */

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
}
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
}

.fadeOut{
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  -webkit-animation-duration: .5s ;
  animation-duration: .5s;
  -webkit-animation-fill-mode: forwards ;
  animation-fill-mode: forwards;
}


.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
}

.fadeInUp-opening {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: .66s;
  animation-delay: .66s;
  -webkit-animation-fill-mode: forwards ;
  animation-fill-mode: forwards;
}

.fadeInDown-opening {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: .33s;
  animation-delay: .33s;
  -webkit-animation-fill-mode: forwards ;
  animation-fill-mode: forwards;
}

.fadeInLeft-opening {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards ;
  animation-fill-mode: forwards;
}

.fadeInRight-opening {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-fill-mode: forwards ;
  animation-fill-mode: forwards;
}

@media screen and (max-width: 1336px) {
  .beer-card__icon > img{
    max-width: 120px;
  }
  .beer-card__active img{
    max-width: inherit;
  }
  .beer-card__name{
    font-size:15px;
  }
  .beer-card__info{
    font-size:13px;
  }
  .beer-card__active > .beer-card__icon > .loader-container > .loader{
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 900px) {
  .main-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .flex-column{
    width: 100%;
    max-width: 800px;
  }
  .beer-card{
    max-width: 100%;
  }
  .main-container .flex-column:first-child{
    margin-top: 100px;
  }
  .main-container .flex-column:nth-child(2){
    margin-top: 0px;
  }
  .main-container .flex-column:nth-child(3){
    margin-top: 0px;
  }
  .main-container .flex-column:nth-child(4){
    margin-top: 0px;
  }
  .beer-card__icon > img{
    max-width: 200px;
  }
  .beer-card__active{
    width:90%;
    margin : 0;
    /* margin-bottom: 100%; */
    min-height: inherit;
  }
  .beer-card__active img{
    max-width: inherit;
    width: 250px;
  }

}
