:root{
  --grey--f4 : #f4f4f4;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  transition: all .5s cubic-bezier(.25,.8,.25,1);
  background-repeat: no-repeat;

}

body{
  min-height: 300vh;
  background: linear-gradient(180deg, #FEE99C -13.64%, #FCE495 1.98%, #F8D582 25.42%, #F0BE63 62.5%, #E69D39 89.28%, #DB7D0E 112.85%);
}

.noresult{
  color : white;
  text-shadow: 0 5px 5px rgba(0,0,0,0.2);
  font-size : 35px;
  margin-top : 20vh;
}

#particles-js{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -5;
}

.main-container{
  display: flex;
  flex-wrap: wrap;
  padding: 0 8vw;
  justify-content: center;
  /* padding-top : 100px; */
}

/* Beercards */

.dark-screen{
  background-color: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  z-index: 99;
  display: none;
  justify-content: center;
}

.more-info-container{
  width: 1200px;
  z-index: 99;
  background-color: white;
  border-radius: 10em 10em 0 0 ;
  height: 100vh;
  margin-top: 100px;
}
