@import "../modules/range-slider-master/css/rSlider.min.css";

.menu{
  grid-template-rows: 85px 1fr 1fr;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width:100%;
  background: var(--grey--f4);
  font-size: 15px;
  grid-template-areas:
  "logo searchbar searchbar searchbar filter-icon"
  ". . . . ."
  ". . . . .";
  align-items: center;
  justify-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 10;
  transition: 1s;
  overflow-x: hidden;
}
.menu--open{
  grid-template-areas:
  "logo searchbar searchbar searchbar filter-icon"
  "abvlabel abvlabel abvslider abvslider abvslider"
  "orglabel orglabel orgcheck orgcheck orgcheck";
  grid-row-gap: 10px;
  padding-bottom: 20px;
}

@media screen and (min-width: 640px) {
  .menu{
    grid-template-columns: 100px 1fr 1fr 250px 100px;
    grid-template-areas:
    "logo . . searchbar filter-icon"
    ". . . . ."
    ". . . . .";
  }
  .menu--open{
    grid-template-areas:
    "logo . . searchbar filter-icon"
    ". abvlabel abvslider . ."
    ". orglabel orgcheck . .";
  }
}

.menu--open > .menu__label, .menu--open > .menu__filter-ele{
  display: inline-block;
}
.menu__label, .menu__filter-ele{
  display: none;
}

.menu__label{
  justify-self : end;
  margin-right: 15vw;
}

/* Header */
.menu__img{
  height: 40px;
}
.menu__logo{
  height: 50px;
}

/* Slider */
.menu__label--abv{
  grid-area : abvlabel;
}
.menu__slider{
  grid-area: abvslider;
  width: 70%;
  margin-top: 35px;
}
.rs-selected{
  background: linear-gradient(90deg, #FEE99C 0%, #FCE495 11.99%, #F8D582 29.98%, #F0BE63 50.96%, #E69D39 73.95%, #DB7D0E 92.93%);
}
.rs-tooltip{
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.rs-scale{
  display: none;
}
.rs-container{
  height: 25px;
}

/* Checkbox */
.menu__label--organic{
  grid-area: orglabel;
}
.menu__checkbox{
  grid-area: orgcheck;
  background: #FFFFFF;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  border : none;
  height: 30px;
  width: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  transition : all .2s;
}
.menu__checkbox:hover{
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.35);
}
.menu__checkbox:checked{
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.35);
}
.menu__checkbox:checked::after {
  content : '\2713';
  color : #00DD00;
  font-size: 25px;
  font-weight: bold;
  transform: translate(4px, -3px);
  position: absolute;
}

/* Searchbar */
.menu__icon-filter{
  grid-area: filter-icon;
}
.menu__icon-filter:hover, .menu__icon-search:hover{
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}

.menu__searchbar{
  background-color: rgba(0,0,0,0);
  grid-area: searchbar;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  justify-self : end;
  transition: .4s;
}
.menu__searchbar--open{
  background-color: white;
  grid-template-columns: 1fr min-content;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 82px;
  height : 50px;
  align-items: center;
  width: 100%;
  justify-self : center;
  opacity: 1;
}

.menu__searchinput{
  display: none;
}
.menu__searchinput--open{
  display: inline;
  height : 80%;
  background-color: transparent;
  margin-left:18px;
  border : none;
  width: calc(100% - 18px);
  grid-area: 1 / 1 / 2 / 2;
}

.menu__icon-search{
  grid-area: 1 / 2 / 1 / 2;
  height: 30px;
  margin-right: 18px;
}
.menu__icon-search--open{
  height: 25px;
  grid-area: 1 / 2 / 2 / 3;
  margin-right: 12px;
}

/* Animations */
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes MenufadeInDown {
  from {
    height: 85px;
  }
  to {
    height: 225px;
  }
}
@keyframes MenufadeInDownClose {
  from {
    height: 225px;
  }
  to {
    height: 85px;
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

.menu--animopen{
  animation: MenufadeInDown .5s ease;
  border-radius: 0 0 3em 3em;
}
.menu--animclose{
  animation: MenufadeInDownClose .5s ease;
}

.menu__filter-ele{
  animation : fadeInDown 1s ease;
}

.menu__filter-ele-animclose{
  animation : fadeOutUp 1s ease;
}
